# IntelliJ IDEA
.idea/
*.iml

# Build output
build/
out/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Other
.classpath
.project
.settings/
